<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/Q2Recieved.ashx" />-->



 		<!--<add key="RequestUrl" value="http://kiler398.xc03.51ym.com/SPSInterface/wenhengRecieved.ashx" />-->
		<!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/selftestRecieved.ashx" />-->


		<!--<add key="RequestUrl" value="http://202.142.25.194/webform1.aspx" />-->
        <!--<add key="RequestUrl" value="http://kiler398.xc03.51ym.com/SPSInterface/testcodeRecieved.ashx" />-->

        
        <add key="RequestUrl" value="http://localhost:10086/SPSInterface/zhejianghenghuaRecieved.ashx" />

        <!--<add key="RequestUrl" value="http://202.142.25.194:8001/SPSInterface/zhejianghenghuaRecieved.ashx" />-->
        <add key="testDataCount" value="10000" />
        <add key="reTryCount" value="3" />
        <add key="sleepTime" value="0" />
        <add key="timeOut" value="5000" />
        <add key="okMessage" value="ok" />
        <add key="failedMessage" value="" />
        <add key="spparams" value="MsgLength={0}|linkid=10001{0:D5}|MsgContent=msg{0}|MsgContent=msg{0}|DestTermID=1|SrcTermID=22|SrcTermIDType=123|RecvTime=22|MsgFormat=22|IsReport=22|TP_udhi=22|TP_pid=22|Service_Id=22|MsgID=22|ISMG=22" />       
    </appSettings>
</configuration>