<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <extnet theme="Default" locale="zh-CN" gzip="true"/>
  <!--<extnet theme="Default" locale="en-US" gzip="true"/>-->
  <appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <!--<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>-->
    </DbProviderFactories>
  </system.data>
  <!--databaseSettings-->
  <databaseSettings>
    <!--SQL Server-->
    <!--local-->
    <add key="provider" value="SqlServer-2.0"/>
    <add key="connectionString" value="Initial Catalog=SNFDB;server=(local);Integrated Security=SSPI;Persist Security Info=False;"/>
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    <add key="driver_class" value="NHibernate.Driver.SqlClientDriver"/>
    <!--MySQL-->
    <!--<add key="provider" value="MySql.Data.MySqlClient" />
    <add key="connectionString" value="Server=Mysql1001.webweb.com;Database=db_98dcbd_snf;Uid=98dcbd_snf;Pwd=snfadmin;port=4306" />
    <add key="dialect" value="NHibernate.Dialect.MySQLDialect" />
    <add key="driver_class" value="NHibernate.Driver.MySqlDataDriver"/>-->
    <!--SQLite-->
    <!--<add key="provider" value="System.Data.SQLite" />
    <add key="connectionString" value="Data Source=|DataDirectory|DataBase.db;Version=3;FailIfMissing=False;" />
    <add key="dialect" value="NHibernate.Dialect.SQLiteDialect" />
    <add key="driver_class" value="NHibernate.Driver.SQLite20Driver" />-->
    <!--自动建表-->
    <!--<add key="hbm2ddl.auto" value="update" />-->
  </databaseSettings>
  <connectionStrings/>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="~/Config/DataConfig.xml"/>
      <resource uri="assembly://Legendigital.Framework.Common/Legendigital.Framework.Common.BaseFramework.Data.Tables.Container/BaseFrameworkDataObjectContainersFile.xml"/>
      <resource uri="assembly://Legendigital.Framework.Common/Legendigital.Framework.Common.BaseFramework.Bussiness.ServiceProxys.Tables.Container/BaseFrameworkServiceProxyContainersFile.xml"/>
      <resource uri="assembly://SPS.Data/SPS.Data.Tables.Container/DataObjectContainersFile.xml"/>
      <resource uri="assembly://SPS.Data/SPS.Data.AdoNet.Container/AdoNetDataObjectContainersFile.xml"/>
      <resource uri="assembly://SPS.Bussiness/SPS.Bussiness.ServiceProxys.Tables.Container/ServiceProxyContainersFile.xml"/>
      <resource uri="~/Config/AOP.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">
      <object name="dailyReportGenerateJobInstance" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="Legendigital.Common.WebApp.Jobs.DailyReportGenerateJob, Legendigital.Common.WebApp"/>
      </object>
      <object id="cronTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="dailyReportGenerateJobInstance"/>
        <!-- run every day 1:00 -->
        <property name="cronExpressionString" value="0 0 1 * * ?"/>
      </object>
      <object type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz">
        <property name="triggers">
          <list>
            <ref object="cronTrigger"/>
          </list>
        </property>
      </object>
    </objects>
  </spring>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd.LOG"/>
      <maxSizeRollBackups value="10"/>
      <rollingStyle value="Date"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="Warn"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <logger name="NHibernate">
      <level value="ERROR"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Spring">
      <level value="ERROR"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Legendigital.Common.WebApp.Jobs.DailyReportGenerateJob">
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <logger name="Legendigital.Framework.Common.BaseFramework.Bussiness.ServiceProxys.Aop.ServiceProxyAroundAdvice">
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--Form认证设置Start-->
    <authentication mode="Forms">
      <forms name=".BaseWebManageFramework" defaultUrl="~/MainPage/Default.aspx" loginUrl="~/MainPage/Login.aspx" enableCrossAppRedirects="true" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <!--allow users="*"/-->
    </authorization>
    <membership defaultProvider="NHibernateMembershipProvider" userIsOnlineTimeWindow="10" hashAlgorithmType="SHA1">
      <providers>
        <add name="NHibernateMembershipProvider" type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateMembershipProvider, Legendigital.Framework.Common" applicationName="Base System Module" maxInvalidPasswordAttempts="99999" passwordAttemptWindow="1"/>
      </providers>
    </membership>
    <profile defaultProvider="NHibernateProvider">
      <providers>
        <clear/>
        <add name="NHibernateProvider" type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateProfileProvider, Legendigital.Framework.Common" applicationName="Base System Module"/>
      </providers>
      <properties>
        <add name="CustomSkin"/>
        <add name="CustomLanguage"/>
      </properties>
    </profile>
    <!--<profile defaultProvider="NHibernateProfileProvider">
      <providers>
        <add name="NHibernateProfileProvider"
              type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateProfileProvider,Legendigital.Framework.Common"
              applicationName="Base System Module"/>
      </providers>
    </profile>-->
    <roleManager cacheRolesInCookie="true" cookieName="name" cookiePath="/" cookieProtection="All" enabled="true" maxCachedResults="50" defaultProvider="NHibernateRoleProvider">
      <providers>
        <add name="NHibernateRoleProvider" type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateRolesProvider, Legendigital.Framework.Common" applicationName="Base System Module"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net"/>
        <add tagPrefix="spring" namespace="Spring.Web.UI.Controls" assembly="Spring.Web"/>
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>
      <add verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
      <add path="*SPSCSHttpGetPostAdapter.ashx" verb="*" type=" Legendigital.Common.WebApp.AppCode.SPSDataRecievedHandler"/>
      <add path="*IVRCSHttpGetPostAdapter.ashx" verb="*" type=" Legendigital.Common.WebApp.AppCode.IVRDataRecievedHandler"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms"/>
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate32"/>
    </httpModules>
    <globalization uiCulture="zh-CHS" culture="zh-CN" resourceProviderFactoryType="Legendigital.Framework.Common.Resources.XmlResourceProviderFactory, Legendigital.Framework.Common"/>
    <!--<globalization uiCulture="en-US" culture="en-US" resourceProviderFactoryType="Legendigital.Framework.Common.Resources.XmlResourceProviderFactory, Legendigital.Framework.Common" />-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="Spring" preCondition="integratedMode" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <add name="OpenSessionInView" preCondition="integratedMode" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate32"/>
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
      <add name="spaspx" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add name="spasmx" verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>
      <add name="spContextMonitor" verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms"/>
    </handlers>
  </system.webServer>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="extnet">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="icons">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TestPage">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SPSInterface">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SPSCS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IVRCS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TestCP">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>