<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="backupfileformat" value="dbbak{0}.bak" />
	</appSettings>
	<connectionStrings>
		<add name="backupdb" connectionString="Data Source=TGS-10;Initial Catalog=SPPipeManage;Integrated Security=SSPI;"/>
	</connectionStrings>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/" />
			<appendToFile value="true" />
			<datePattern value="yyyyMMdd.LOG" />
			<maxSizeRollBackups value="10" />
			<rollingStyle value="Date" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>