<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RequestUrl" value="http://localhost:10402/SPSInterface/testcodeRecieved.ashx" />
        <!--<add key="RequestUrl" value="http://kiler398.xc03.51ym.com/SPSInterface/testcodeRecieved.ashx" />-->
        <add key="cpid" value="209901" />
        <add key="mid" value="0191991" />
        <add key="mobile" value="11111" />
        <add key="port" value="22222" />
        <add key="ywid" value="33333" />
        <add key="msg" value="3333" />
    </appSettings>
</configuration>