<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RequestUrl" value="http://localhost:10086/SPSInterface/Q2Recieved.ashx" />
        <!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/Q1Recieved.ashx" />-->
        <!--<add key="RequestUrl" value="http://kiler398.xc03.51ym.com/SPSInterface/testcodeRecieved.ashx" />-->
        <add key="testDataCount" value="1000" />
        <add key="reTryCount" value="10" />
        <add key="sleepTime" value="300" />
        <add key="mobileformat" value="138219{0}" />
        <add key="msgformat" value="msg{0}" />
        <add key="ywidformat" value="20000903" />
        <add key="cpidformat" value="209901" />
        <add key="midformat" value="0191991" />
        <add key="portformat" value="22222" />
        <add key="mobile" value="phone" />
        <add key="msg" value="msg" />
        <add key="ywid" value="linkid" />
        <add key="cpid" value="cpid" />
        <add key="mid" value="dest" />
        <add key="port" value="port" />
    </appSettings>
</configuration>