<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/testcodeRecieved.ashx" />-->
        <add key="RequestUrl" value="http://kiler398.xc03.51ym.com/SPSInterface/testcodeRecieved.ashx" />
        <add key="testDataCount" value="10" />
        <add key="reTryCount" value="10" />
        <add key="sleepTime" value="300" />
        <add key="mobileformat" value="138219{0}" />
        <add key="msg" value="msg{0}" />
        <add key="ywid" value="20000903" />      
        <add key="cpid" value="209901" />
        <add key="mid" value="0191991" />
        <add key="port" value="22222" />
    </appSettings>
</configuration>