<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/Q2Recieved.ashx" />-->



 		<!--<add key="RequestUrl" value="http://kiler398.xc03.51ym.com/SPSInterface/wenhengRecieved.ashx" />-->
		<!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/selftestRecieved.ashx" />-->


		<!--<add key="RequestUrl" value="http://202.142.25.194/webform1.aspx" />-->
        <!--<add key="RequestUrl" value="http://kiler398.xc03.51ym.com/SPSInterface/testcodeRecieved.ashx" />-->
        <!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/C9976Recieved.ashx" />-->
		<!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/C9976Recieved.ashx" />-->
		<!--<add key="RequestUrl" value="http://localhost:10086/SPSInterface/zhejianghenghuaRecieved.ashx" />-->


        <!--http://114.80.154.210:8001/SPSInterface/SPTCCRecieved.ashx?p6=1221&p5=1212&p4=12&p3=121212&p2=1212&p1=121212&spcode=1298881212&phone=13534267806&linkid=test5d938e01-ebf2-4134-9e2f-8bdcdb437433&mo=A1-->

        <add key="RequestUrl" value="http://114.80.154.210:8001/SPSInterface/SPTCCRecieved.ashx" />
        <add key="spparams" value="p6=1221|p5=1212|p4=12|p3=121212|p2=1212|p1=121212|spcode=1298881212|phone=135{0:D8}|linkid=test5d938e01-ebf2-{0:D8}|mo=A1" />
        <!--<add key="spparams" value="M=HHAB1|P=135{0:D8}|L=testcb8f7898-4f19-4996-a8a0-{0:D8}|C=1999121" />
        <add key="spparams" value="M=HHAB2|P=135{0:D8}|L=testcb8f7898-4f19-4996-a8a0-{0:D8}|C=1999121" />-->

 
        <add key="testDataCount" value="20000" />
        <add key="reTryCount" value="3" />
        <add key="sleepTime" value="10" />
        <add key="timeOut" value="5000" />
        <add key="okMessage" value="ok" />
        <add key="failedMessage" value="failed" />
        <!--<add key="spparams" value="MsgLength={0}|linkid=211111235{0:D5}|MsgContent=msg{0}|DestTermID=1|SrcTermID=159109{0:D5}|SrcTermIDType=123|RecvTime=22|MsgFormat=22|IsReport=22|TP_udhi=22|TP_pid=22|Service_Id=22|MsgID=22|ISMG=22" />-->
		<!--<add key="spparams" value="linkid=S40100726160449310000000000L02|mo=1|phone=13998192410|msg=52761|dest=106699678" />-->
        <!--<add key="spparams" value="linkid=S40100726160449310000000000L02|mo=1|phone=13998192410|msg=52761|dest=106699678" />-->

	</appSettings>
</configuration>