<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
            </layout>
        </appender>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Logs/" />
            <appendToFile value="true" />
            <datePattern value="yyyyMMdd.LOG" />
            <maxSizeRollBackups value="10" />
            <rollingStyle value="Date" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="RollingLogFileAppender" />
        </root>
    </log4net>
    <appSettings>
        <add key="IsDebug" value="true"/>
        <add key="DebugCmd" value="-rhsrtt"/>
        <add key="MaxDataCount" value="5"/>
        <add key="MaxAllDataCount" value="10"/>
        <add key="HistoryDateCount" value="2"/>
        <add key="SendClientChannelID" value="0"/>
        <add key="MultithreadWebSite" value="www.goto2008.com|202.112.1.1"/>
        <add key="MultithreadWebSiteTaskCount" value="3"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SPDataServiceSoap" closeTimeout="00:03:00" openTimeout="00:03:00"
                    receiveTimeout="00:50:00" sendTimeout="00:03:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840"
                        maxBytesPerRead="40960" maxNameTableCharCount="163840" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10086/Services/SPDataService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPDataServiceSoap"
                contract="SPDataService.SPDataServiceSoap" name="SPDataServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>