body
{
    font-family: 'lucida grande' ,tahoma,arial,sans-serif;
    font-size: 11px;
    margin: 0;
}
.headerDiv
{
    background: #7F99BE url(../images/layout-browser-hd-bg.gif) repeat-x center;
    height: 62px;
}
.headTitle
{
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}
.menu
{
    background-image: url(../extjs/resources/images/default/toolbar/bg.gif);
    height: 25px;
    line-height: 25px;
    border: 1px #8db2e3 solid;
    padding-left: 10px;
    padding-right: 10px;
}
.south
{
    text-align: center;
    background-color: #DFE8F6;
}

.icon-expand-all  { background-image: url(../images/expand-all.gif) !important; }

.icon-collapse-all  { background-image: url(../images/collapse-all.gif) !important; } 