@{
    ViewBag.Title = "系统首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    <div data-role="collapsible">
        <h3>系统监控</h3>
        <ul data-role="listview">
            <li><a href="#">未分配客户指令</a></li>
            <li><a href="#">0价格指令</a></li>
            <li><a href="#">流量趋势报表</a></li>
            <li><a href="#">服务器资源状况</a></li>
        </ul>
    </div>
    <div data-role="collapsible">
        <h3>系统操作</h3>
        <ul data-role="listview">
            <li><a href="#">补发数据</a></li>
            <li><a href="#">通道测试</a></li>
            <li><a href="#">下家测试</a></li>
        </ul>
    </div>
    <div data-role="collapsible">
        <h3>系统设置</h3>
        <ul data-role="listview">
            <li><a href="#">通道指令设置</a></li>
            <li><a href="#">下家设置</a></li>
        </ul>
    </div>
    <div data-role="collapsible">
        <h3>报表查看</h3>
        <ul data-role="listview">
            <li><a href="#">即时日报表</a></li>
            <li><a href="#">汇总报表</a></li>
            <li><a href="#">通道报表</a></li>
            <li><a href="#">指令报表</a></li>
            <li><a href="#">下家报表</a></li>
        </ul>
    </div>
</div>
