@{
    ViewBag.Title = "登录系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="content" class="content">
            <p style="font-size: 1.5em;font-weight: bold;"><font color="#2EB1E8">登录</font></p>
            <form method="post" id="loginform">
                <input type="text" name="username" id="username" value="" /><br>
                <input type="password" name="password" id="password" value="" />
                <fieldset data-role="controlgroup">
                    <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" />
                    <label for="checkbox-1">保持登录状态</label>
                </fieldset>
                <a data-role="button" id="submit" data-theme="b" style="float: center; margin: 10px;">登录</a>
            </form>
        </div>
