<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="backupfileformat" value="dbbak{0}.bak" />
	</appSettings>
	<connectionStrings>
		<add name="backupdb" connectionString="Data Source=myServerAddress;Initial Catalog=myDataBase;Integrated Security=SSPI;"/>
	</connectionStrings>
</configuration>