<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
            </layout>
        </appender>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Logs/" />
            <appendToFile value="true" />
            <datePattern value="yyyyMMdd.LOG" />
            <maxSizeRollBackups value="10" />
            <rollingStyle value="Date" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="RollingLogFileAppender" />
        </root>
    </log4net>

    <connectionStrings>
        <add name="datacnn" connectionString="Initial Catalog=SPSManage;server=ATOM\SQLEXPRESS;uid=SPSManage;pwd=SPSManage;"/>
    </connectionStrings>
    <appSettings>
        <add key="selectSQL" value="SELECT  [Column 0] as SPCode ,[Column 1] as Mobile,[Column 2] as MO ,[Column 3] as LinkID FROM  [temp110106]"/>
        <add key="fieldMO" value="MO"/>
        <add key="fieldLinkID" value="LinkID"/>
        <add key="fieldMobile" value="Mobile"/>
        <add key="fieldSPCode" value="SPCode"/>
        <add key="sendUrl" value="http://202.142.25.194:8001/SPSInterface/hbspRecieved.ashx?spcode={SPCode}&amp;phone={Mobile}&amp;linkid={LinkID}&amp;momsg={MO}"/>
    </appSettings>   
</configuration>