<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
  </configSections>
  <extnet theme="Default" locale="zh-CN" gzip="true"/>
  <!--<extnet theme="Default" locale="en-US" gzip="true"/>-->
  <appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
 
        <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
 
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <!--databaseSettings-->
  <databaseSettings>
    <!--SQL Server-->
    <!--local-->
    <add key="provider" value="SqlServer-2.0" />
    <add key="connectionString" value="Data Source=Sql1001.webweb.com,2433;Initial Catalog=DB_98DCBD_SNFramework;User Id=DB_98DCBD_SNFramework_admin;Password=SNFramework;" />
    <!--<add key="connectionString" value="Initial Catalog=SNFrameworkDb;server=(local);uid=SNFrameworkDb;pwd=SNFrameworkDb;" />-->
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="driver_class" value="NHibernate.Driver.SqlClientDriver"/>

    <!--MySQL-->
    <!--<add key="provider" value="MySql.Data.MySqlClient" />
    <add key="connectionString" value="Server=Mysql1001.webweb.com;Database=db_98dcbd_snf;Uid=98dcbd_snf;Pwd=snfadmin;port=4306" />
    <add key="dialect" value="NHibernate.Dialect.MySQLDialect" />
    <add key="driver_class" value="NHibernate.Driver.MySqlDataDriver"/>-->

    <!--SQLite-->
    <!--<add key="provider" value="System.Data.SQLite" />
    <add key="connectionString" value="Data Source=|DataDirectory|DataBase.db;Version=3;FailIfMissing=False;" />
    <add key="dialect" value="NHibernate.Dialect.SQLiteDialect" />
    <add key="driver_class" value="NHibernate.Driver.SQLite20Driver" />-->
    <!--自动建表-->
    <add key="hbm2ddl.auto" value="update" />
  </databaseSettings>
  <connectionStrings/>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Config/Log4Net.xml"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="~/Config/DataConfig.xml"/>
      <resource uri="assembly://Legendigital.Framework.Common/Legendigital.Framework.Common.BaseFramework.Data.Tables.Container/BaseFrameworkDataObjectContainersFile.xml"/>
      <resource uri="assembly://Legendigital.Framework.Common/Legendigital.Framework.Common.BaseFramework.Bussiness.ServiceProxys.Tables.Container/BaseFrameworkServiceProxyContainersFile.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">
      <!--<db:provider id="DbProvider" provider="SqlServer-2.0" connectionString="Initial Catalog=SNFrameworkDb;server=(local);uid=SNFrameworkDb;pwd=SNFrameworkDb;"/>-->
    </objects>
  </spring>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="MySql.Data, Version=6.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

        
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--Form认证设置Start-->
    <authentication mode="Forms">
      <forms name=".BaseWebManageFramework" defaultUrl="~/MainPage/Default.aspx" loginUrl="~/MainPage/Login.aspx" enableCrossAppRedirects="true" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <!--allow users="*"/-->
    </authorization>
    <membership defaultProvider="NHibernateMembershipProvider" userIsOnlineTimeWindow="10" hashAlgorithmType="SHA1">
      <providers>
        <add name="NHibernateMembershipProvider" type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateMembershipProvider, Legendigital.Framework.Common" applicationName="Base System Module" maxInvalidPasswordAttempts="99999" passwordAttemptWindow="1"/>
      </providers>
    </membership>
    <profile defaultProvider="NHibernateProvider">
      <providers>
        <clear/>
        <add name="NHibernateProvider" type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateProfileProvider, Legendigital.Framework.Common" applicationName="Base System Module"/>
      </providers>
      <properties>
        <add name="CustomSkin"/>
        <add name="CustomLanguage"/>
      </properties>
    </profile>
    <!--<profile defaultProvider="NHibernateProfileProvider">
      <providers>
        <add name="NHibernateProfileProvider"
              type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateProfileProvider,Legendigital.Framework.Common"
              applicationName="Base System Module"/>
      </providers>
    </profile>-->
    <roleManager cacheRolesInCookie="true" cookieName="name" cookiePath="/" cookieProtection="All" enabled="true" maxCachedResults="50" defaultProvider="NHibernateRoleProvider">
      <providers>
        <add name="NHibernateRoleProvider" type="Legendigital.Framework.Common.BaseFramework.Providers.NHibernateRolesProvider, Legendigital.Framework.Common" applicationName="Base System Module"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net"/>
        <add tagPrefix="spring" namespace="Spring.Web.UI.Controls" assembly="Spring.Web"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
      <add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>
      <add verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate32"/>
    </httpModules>
    <globalization uiCulture="zh-CHS" culture="zh-CN" resourceProviderFactoryType="Legendigital.Framework.Common.Resources.XmlResourceProviderFactory, Legendigital.Framework.Common"/>
    <!--<globalization uiCulture="en-US" culture="en-US" resourceProviderFactoryType="Legendigital.Framework.Common.Resources.XmlResourceProviderFactory, Legendigital.Framework.Common" />-->
  </system.web>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="Spring" preCondition="integratedMode" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <add name="OpenSessionInView" preCondition="integratedMode" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate32"/>
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
      <add name="spaspx" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
      <add name="spasmx" verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>
      <add name="spContextMonitor" verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
    </handlers>
  </system.webServer>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="extnet">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="resources">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="coolite">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="icons">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Moudles/Installs">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TestPage">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>