@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    @Html.ActionLink("返回首页", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
}

<h2>用户信息</h2>
